#kobe{
	overflow: hidden;
}
.shimofuri{
	background: #E28CA0;
	float:left;
}
.golden-pork{
	color:  #E28CA0;
}
#saiboku{
	display: block;
}
.golden-pork{
	color:  #E28CA0;
}
#saiboku{
	display: block;
	width: 100px;
}
